li.leftUL {
    text-align: left;
    padding-left: 20px;
}

li.rightUL {
    text-align: right;
    padding-right: 20px;
}

html, body {
    margin: 0;
    height: 100%;
}

body{
  background-color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #fff;

  display: flex;
  flex-direction: column;
}

.header{
  padding: 5em 1em 0.1em 1em;
  color: #ffffff;
  background-image: url('assets/darkplants.jpg');
  background-repeat: repeat;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-size: 0.8em;
  background-size: auto 100%;
}

.midsection{
  margin: 2em 1em 2em 1em;
  font-size:1.2em;
  background-color: #000;
  font-size:1em;
  line-height: 1.6;

  color: #fff;
  padding-bottom: 2em;
  border-bottom: 2px solid #fff;
}

.btn{
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  /* display: inline-flex; */
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.8rem 0.7rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1em 0 0 8em;
  /* text-align: center; */
}

.btn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

#container-fluid{
  margin: 2em 1em 2em 1em;
  background-color: #000;
  /* overflow: auto; */
  flex-grow: 1;
  font-size:1em;
  line-height: 1.6;
}


.container{
  overflow: auto;
}
