li.leftUL {
    text-align: left;
    padding-left: 20px;
}

li.rightUL {
    text-align: right;
    padding-right: 20px;
}

li.firstUL {
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}